/* AgentList.module.css */
.scrollbarCustom {
  scrollbar-width: thin;
  scrollbar-color: #f39200 #f1f1f1;
}

.scrollbarCustom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbarCustom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbarCustom::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scrollbarCustom::-webkit-scrollbar-track {
  background: #f39200 !important;
}
/* .nn{
  color: #15803d;
  color: #bbf7d0;
 color: #b91c1c;
 color: #fecaca
} */
