@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .noto-kufi-arabic {
} */
* {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

#add-product-detailed-desc .jodit-wysiwyg {
  padding-left: 16px !important;
}

#add-product-detailed-desc ul {
  list-style: inside !important;
}

#add-product-detailed-desc ol {
  list-style: inside !important;
  list-style-type: number !important;
}

#add-product-detailed-desc td {
  border: solid 1px !important;
}

